<launch>
    <arg name="logging_enabled" default="true"/>
    <arg name="test_id" default=""/>

    <param name="logging_enabled" value="$(arg logging_enabled)"/>
    <param name="log_folder" value="$(find smmap)/../logs/cloth_table/$(arg test_id)/"/>

    <param name="deformable_type" value="cloth"/>
    <param name="task_type" value="table_coverage"/>
</launch>
