<launch>
    <arg name="logging_enabled" default="true"/>
    <arg name="test_id" default=""/>
    <arg name="deformability_override" default="0"/>
    <arg name="multi_model" default="0"/>
    <arg name="planning_horizion" default="1"/>
    <arg name="feedback_covariance" default="0.0"/>
    
    <include file="$(find smmap)/launch/rope_cylinder_params.launch">
        <arg name="logging_enabled" value="$(arg logging_enabled)"/>
        <arg name="test_id" value="$(arg test_id)"/>
    </include>

    <include file="$(find deform_simulator)/launch/deform_simulator.launch">
        <arg name="feedback_covariance" value="$(arg feedback_covariance"/>
    </include>
        
    <group ns="smmap_planner_node">
        <param name="use_multi_model" value="$(arg multi_model)" type="bool"/>
        <param name="planning_horizion" value="$(arg planning_horizion)" type="int"/>
        <param if="$(arg deformability_override)" name="translational_deformability" value="$(arg translational_deformability)"/>
        <param if="$(arg deformability_override)" name="rotational_deformability" value="$(arg rotational_deformability)"/>
    </group>
</launch>
