<launch>
    <arg name="test_id" default="rope_cylinder/shooting_method"/>
    <arg name="deformability_override" default="0"/>
    
    <include file="$(find smmap)/launch/rope_cylinder_params.launch">
        <arg name="test_id" value="$(arg test_id)"/>
    </include>

    <include file="$(find deform_simulator)/launch/deform_simulator.launch"/>

    <node name="smmap_planner_node"
        pkg="smmap"
        type="smmap_test_node"
        required="true">
        <param if="$(arg deformability_override)" name="translational_deformability" value="$(arg translational_deformability)"/>
        <param if="$(arg deformability_override)" name="rotational_deformability" value="$(arg rotational_deformability)"/>
    </node>
</launch>
